{# text_with_image #}

{% macro text_with_image(
	text_with_image_title, 
	text_with_image_subtitle, 
	text_with_image_text, 
	text_with_image_list, 
	text_with_image_image,
	text_with_image_btn_link, 
	text_with_image_btn_label,
	text_with_image_btn_target,
	text_with_image_class,
	context
)%}

<div class="text-with-image">
	<div class = "container">
		<div class = "row text-with-image__wrapper {{ text-with-image-direction-class }}  ">
			<div class = "text-with-image__title-wrapper">
				<h2 class = "text-with-image__title">
					{{text_with_image_title}}
				</h2>
			</div>
			<div class = "text-with-image__content-wrapper">
				<div class = "text-with-image__subtitle-wrapper">
					<div class = "text-with-image__subtitle">
						{{text_with_image_subtitle}}
					</div>
				</div>
				<div class = "text-with-image__text-wrapper">
					{{text_with_image_text}}
				</div>
			</div>
			<div class = "text-with-image__image-wrapper">
				<img class = "image" src="{{text_with_image_image}}" alt="{{text_with_image_alt_text}}"/>
			</div>
			<ul class="text-with-image__list-wrapper">
					{{text_with_image_list}}
			</ul>
			<div class = "text-with-image__link-wrapper">
				<a class = "text-with-image__link"  href = "{{text_with_image_btn_link}}">
					{{text_with_image_btn_label}}
				</a>
			</div>
		</div>
	</div>
</div>


{%endmacro%}


{#
	//output macro values on the page.twig or whereever the instance goes
	{% from '/partial/text-with-image/macro.twig' import text_with_image %}
	{{ text_with_image(
		text_with_image_title, 
		text_with_image_subtitle, 
		text_with_image_text, 
		text_with_image_list, 
		'row', 
#}
